.app-div {
	margin-left: 18px;
	margin-right: 18px;
}

mat-card {
	margin-bottom: 10px;
	user-select: none;
}

.footer {
	color: grey;
	margin-bottom: -20px;
	margin-top: -10px;
	font-size: x-small;
}

.header {
	font-size: larger;
}

.frame {
	padding-top: 20px;
}
